# Forces audify (RtAudio/ASIO bindings) to build from source instead of
# downloading its prebuilt binary — the prebuilt binaries don't have ASIO
# compiled in (Steinberg's SDK license means the maintainers can't ship
# ASIO-enabled binaries publicly), but a local build picks up RtAudio's
# vendored ASIO host-glue code automatically. Requires CMake + a C++ build
# toolchain (Visual Studio Build Tools' "Desktop development with C++").
build-from-source=true
